@import '../other/_colours';
button.btn {
  background-color: $accent;
}
button.btn:focus,button.btn:hover{
  background-color: $secondary-accent;
}

.btn.btn-floating {
  background-color: $secondary;
}