$green-highlight: #008000;
$green-dark-highlight: #07D05F;
$red-highlight: #ae0101;
$red-light-highlight: #fd2121;
$accent: #343A34;
$secondary-accent: #3A6D97;
$primary: #32688C;
$secondary: #243A4A;