$size-xs-max: 767px;
$size-sm-min: 768px;
$size-sm-max: 991px;
$size-md-min: 992px;
$size-md-max: 1199px;
$size-lg-min: 1200px;

$size-s-max: 600px;
$size-m-max: 992px;
$size-m-min: 601px;
$size-l-min: 993px;