.stocks-list-container tr i {
  font-size: 20px;
  position: relative;
  top: 2px;
}
.stocks-list-container tr i:hover {
  cursor: pointer;
  color: #e1bee7;
}

.stocks-list-container .dropdown-content a.active {
  background-color: #80cbc4;
  color: white;
}