.summary-box-container .summary-box .highlight-box {
  padding: 30px;
  background-color: teal;
  color: white;
}

.summary-box-container .summary-box .day-profit i{
  font-size: 16px;
  position: relative;
  top: -10px;
  cursor: pointer;
}
